 
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Login - News Aggregator{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card"> [cite: 99]
            <div class="card-header text-center">
                <h3><i class="fas fa-sign-in-alt"></i> Login</h3> [cite: 99]
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %} [cite: 100]
                    {{ form|crispy }} [cite: 100]
                    <button type="submit" class="btn btn-primary w-100">
                        <i class="fas fa-sign-in-alt"></i> Login [cite: 101]
                    </button>
                </form>

                <hr>
                <div class="text-center">
                    <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p> [cite: 102]
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}